@import "main.css";
@import "clock.css";
@import "todo.css";
@import "weather.css";


body img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.login-form{
  font-size: 3rem;
  text-align: center;
  display:inline-block;
}

.hidden{
    display: none;
}
